In [1]:
from storage import Storage
from decision_maker import DecisionMaker

In [2]:
CONFIG = {
    "port_in": 6350,
    "port_out": 6341,
    "ip_in": "127.0.0.1",
    "ip_out": "127.0.0.1",

    "username": 'postgres',
    "password": '123456',
    "hostname": 'localhost',
    "database": 'traffic',
}

In [2]:
import pandas as pd
import numpy as np

In [22]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), index=[1, 2, 3, 4])

In [23]:
frame

          b         d         e
1  0.340778  0.483145 -0.746596
2  1.063023  0.515641 -0.693047
3 -0.406983 -0.492689 -0.187229
4  0.214393 -0.287047  0.492700

In [24]:
f = frame.copy()

In [25]:
f.insert(1, 'pred', pred)

In [28]:
f

          b  pred         d         e
1  0.340778     1  0.483145 -0.746596
2  1.063023     2  0.515641 -0.693047
3 -0.406983     1 -0.492689 -0.187229
4  0.214393     1 -0.287047  0.492700

In [45]:
f.groupby('pred').sum()

             b         d         e
pred
1     0.148188 -0.296591 -0.441125
2     1.063023  0.515641 -0.693047

In [8]:
l1 = [1,2,3]
l2 = ["1", "2", "3"]

In [9]:
dict(zip(l1, l2))

{1: '1', 2: '2', 3: '3'}

In [10]:
from sklearn.svm import SVC

In [11]:
X = [[1], [2], [3], [4], [5], [6]]
y = [2, 1, 3, 1, 1, 2]
clf = SVC()
clf.fit(X, y)
pred = clf.predict([[2], [1], [5], [10]])

In [12]:
pred

array([1, 2, 1, 1])

In [37]:
df = pd.DataFrame({'word':'a the a an the'.split(),
                   'tag': list('SSTTT'),
                   'count': [30, 20, 60, 5, 10]})

print(df.groupby('word').apply(lambda subf: subf['tag'][subf['count'].idxmax()]))

word
a      T
an     T
the    S
dtype: object

In [38]:
df

   count tag word
0     30   S    a
1     20   S  the
2     60   T    a
3      5   T   an
4     10   T  the